name: Action Integration Test

on: 
  push:
  pull_request:
    branches: [main]
    types: [closed]
  pull_request_target:
    branches: [main]
    types: [opened]
  workflow_dispatch:

jobs:
  standard-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint json file
        uses: ia-eknorr/ignition-lint@v1.1.1
        with:
          files: tests/cases/PreferredStyle/view.json
          component_style: PascalCase
          parameter_style: camelCase
  regex-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint json file
        uses: ia-eknorr/ignition-lint@v1.1.1
        with:
          files: tests/cases/kebab-case/view.json
          component_style: "^[a-z]+(-[a-z]+)*$"
          parameter_style: "^[a-z]+(-[a-z]+)*$"