name: Integration Test

on:
  pull_request:
    branches:
      - main

jobs:
  integration-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test with bad file
        id: lint-bad
        continue-on-error: true
        run: python src/lint-ignition-views.py tests/integration/bad/view.json
      - name: Test with good file
        id: lint-good
        run: python src/lint-ignition-views.py tests/integration/good/view.json
      - name: Test with no files
        id: lint-empty
        run: python src/lint-ignition-views.py
      - name: Check test results
        continue-on-error: false
        run: |
          if [ ${{ steps.lint-good.outcome }} == 'success' ] && [ ${{ steps.lint-bad.outcome }} == 'failure' ] && [ ${{ steps.lint-empty.outcome }} == 'success' ]; then
            echo "All tests passed"
            exit 0
          else
            echo "One or more tests failed"
            exit 1
          fi
