name: Unit tests

on:
  push:
  pull_request:
    branches: [main]
    types: [closed]
  pull_request_target:
    branches: [main]
    types: [opened]
  workflow_dispatch:
      

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12.2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Run tests
      run: |
        python -m unittest discover tests